/* background setup */
.background {
    background-repeat:no-repeat;
    /* custom background-position */
    background-position:50% 50%;
    /* ie8- graceful degradation */
    background-position:50% 50%\9 !important;
}

/* fullscreen setup */
html, body {
    /* give this to all tags from html to .fullscreen */
    height:100%;
}
.fullscreen,
.content-a {
    width:100%;
    min-height:100%;
}
.not-fullscreen,
.not-fullscreen .content-a,
.fullscreen.not-overflow,
.fullscreen.not-overflow .content-a {
    height:100%;
    overflow:hidden;
}

/* content centering styles */
.content-a {
	display:table;
}
.content-b {
	display:table-cell;
    position:relative;
	vertical-align:middle;
	text-align:center;
}

/* visual styles */
body{
    margin:0;
    font-family:sans-serif;
    font-size:28px;
    overflow-x: hidden;
	color:#ffffff;
    text-align:center;
}
section {
	background:#E7E9E4;;
}

/* my styles */
.threequarter-notfullscreen {
    height:85%;
}

.middle-notfullscreen {
    height:50%;
}

.quarter-notfullscreen {
    height:15%;
}

.autor{
    line-height: 28px;
    margin-top: -20%;
    margin-left: 50%;
    color: #C3B8B8;
}

.styleFont{
    font-family: 'Lobster', cursive;
    color: #0F04C8;;
}

.displayInBlock{
    display: block;
}

.sectionTitle{
    font-size: 77px;
    padding: auto;
}

.sectionColor{
    background-color: #151515;
}

.sectionContent{
    width: 80%;
    margin:  10px auto auto;
    line-height: 35px;
}

.columnsWidth30{ 
    padding-top: 5px;
    display: inline-block;
    width: 30%;
    float: left;
}

.columnsWidth70{
    padding-top: 5px;
    display: inline-block;
    width: 70%;
    float:right;
}
.tituloSubseccion{
    padding-top: 5px;
}
.indexItems{
    line-height:30px;
}
.linkStyle{
    margin-left: 40%;
    color: white;
}

.linkStyleFirst{
    margin-top: 8%;
    color: white;
}

.progressBar{
    z-index: 9999999;
    position: fixed;
    width: 100%;
    font-size: 15px;
    left: 0px;
}

.mejorasAncho{
    width: 98%;
}
