.imgDomainTree{
    width:33.3%;
    height: 505px;
    background-image: url('../images/contentImages/ArbolDominio.png');
    background-size:100% 100%;
    float: left;
}
   
.imgPersistTree{
    width:33.3%;
    height: 505px;
    background-image: url('../images/contentImages/ArbolPersistencia.png');
    background-size:100% 100%;
    float: left;
}

.imgPresentationTree{
    width:33.3%;
    height: 505px;
    background-image: url('../images/contentImages/ArbolPresentacion.png');
    background-size:100% 100%;
    float: left;
}

.imgEsquemaInterfaz{
    width:100%;
    height: 505px;
    background-image: url('../images/contentImages/EsquemaInterfaz.png');
    background-size:100% 100%;
    float: left;
}